.goods-list {
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}

.goods-list img {
    width: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    width: 150px;
}